.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  margin: auto;
  width: 100%;
  max-width: 800px;
}

.heading,
.subheading {
  color: #000;
  margin: 10px 0;
}

.info,
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.info p {
  margin-bottom: 10px;
}

.inputField,
.textArea {
  width: 100%;
  max-width: 760px;
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #666;
}

.textArea {
  height: 150px;
  resize: vertical;
}

.buttonDiv {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.submitButton {
  width: 50%;
  padding: 10px 20px;
  background-color: var(--darkGold);
  font-family: 'Inter', sans-serif;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s;
  margin: 10px 0;
}

.submitButton:hover {
  background-color: var(--lightGold);
}
